head,body
{
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.chart-container
{
    position: absolute;
    width: 50%;
    height: 50%;

    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: rgba(0,0,0,0.1);
}

.d3-tip
{
    background-color: rgba(255,255,255,0.85);
    font-size: 1.2em;
    padding: 0 .35em;

    border-radius: .5em;
}